<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab5</title>
    <link rel="StyleSheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="FoodDeliveryServices" asp-action="Index">Food Delivery Services</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; 2025 - Lab5</p>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>